<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLinkActive="active"
    routerLink="/coach/widgets/coachchallenges"
  >
    <span class="menu-icon"><i class="fa fa-trophy"></i></span>
    <span class="menu-title">Challenges</span>
  </a>
</div>
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLinkActive="active"
    routerLink="/coach/widgets/coachchapters"
  >
    <span class="menu-icon"><i class="fa fa-book"></i></span>
    <span class="menu-title">Chapters</span>
  </a>
</div>
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLinkActive="active"
    routerLink="/coach/widgets/coachLessons"
  >
    <span class="menu-icon"><i class="fa fa-graduation-cap"></i></span>
    <span class="menu-title">Lessons</span>
  </a>
</div>
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLinkActive="active"
    routerLink="/coach/widgets/coachesposts"
  >
    <span class="menu-icon"><i class="fa fa-file-alt"></i></span>
    <span class="menu-title">Posts</span>
  </a>
</div>
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLinkActive="active"
    routerLink="/coach/widgets/submissions"
  >
    <span class="menu-icon"><i class="fa fa-file-alt"></i></span>
    <span class="menu-title">Submissions</span>
  </a>
</div>
